body {
    width: 90%;
    margin: auto;
    background: -webkit-linear-gradient(90deg, rgb(255, 255, 255), rgb(227, 227, 227));
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(227, 227, 227));
    overflow-x: hidden;
    font-family: OpenSans, serif;
}

@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Regular.ttf);
}

figure {
    border: 1px #cccccc solid;
    width: 40%;
    margin: unset;
}
figcaption {
    background-color: burlywood;
    color: white;
    font-style: italic;
    text-align: center;
    padding: 2px;
}
h1 {
    border-width: 5px;
    border-color: gray;
    margin-bottom: 15px;
    border-style: solid;
    padding: 5px;
}
h2 {
    border-style: dashed;
    border-color: grey;
    border-width: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}
p {
    margin-left: 5px;
    color: darksla;
}
p.footnote {
    text-align: center;
}
q {
    font-style: italic;
}
table {
    text-align: left;
    width: 400px;
    margin: auto;
}

caption {
    margin-bottom: 5px;
    font-size: 18px;
    text-align: left;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr.grey {
    background-color: grey;
}
th, td {
    padding: 10px;
}

em[value="good"]{
    text-transform: capitalize;
    color: green;
}
em[value="bad"]{
    text-transform: capitalize;
    color: red;
}

footer {
    margin: 20px;
}
a:hover {
    color: blue;
}
a:visited {
    color: darkred;
}